body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}
.portfolio-nav{
    background-color: #be3144;
}
.nav-item a {
    font-size: 1.5rem !important;
    color: #fff !important;
}
.nav-item:hover{

    background-color: #4f4f75;
}
.navbar-nav{
    --bs-nav-link-padding-y: 0 !important;
     height: 78px;
}
.navbar{
    --bs-nav-link-padding-y: 0 !important;
    --bs-navbar-padding-y: 0 !important;
}
.nav-item{
    padding: 20px 10px;
}
#welcome-section{
    height: 100vh;
    align-content: center;
}
.hero-section p{
    font-size: 22px;
    font-style: italic;
}

.hero-section h1{
    font-size: 50px;
    font-weight: bold;
}

#projects{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #4f4f75;
}
#projects h1{
    font-weight: bold;
    /* text-decoration: underline; */
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #fff;
    margin-bottom: 2rem;
}

#projects .card{
    border-radius: 0px;
}

#projects .card img{
    border-radius: 0px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#projects .card a{
    text-decoration: none;
    color:#fff;
}

#projects .card a:hover .card-title::before {
    content: "< ";
    opacity: 1;
    color: #FF7748;
  }
  
  #projects .card a:hover .card-title::after {
    content: " />";
    opacity: 1;
    color: #FF7748;
  }
  
  #projects .card .card-title::before,
  #projects .card .card-title::after {
    content: '';
    opacity: 0;
  }

  

#projects .show-more-btn{
    border-radius: 0px;
}

#projects .show-more-btn:hover{
    background-color: #be3144;
    border-color: #be3144;
}

#contact{
    padding: 10rem 0;
}

#contact h1{
    font-size: 60px;
    font-weight: bolder;
}

#contact .follow-icons{
    /* position: relative; */
}

#contact .icon{
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    font-size: 25px;
    margin-right: 60px;
}

#contact .icon:last-child{
    margin-right: 0;
}

#contact .icon:hover{
    transform: translateY(10px);
    /* text-decoration: underline; */
}

#footer{
    border-top: 5px solid #be3144;
    /* padding-top: 5px; */
}